/* Channel Bar Widths */
[class*="channels-"] {
  width: var(--channel-bar-width) !important;
  transition: width .2s ease-out !important;
}


/* Hide Channel Bar */
@media (max-width: 1100px) {

  [class*="channels-"] {
    position: relative;
    width: 0 !important;
  }

  [class*="guildsWrapper"]:hover + div > :nth-child(2) > [class*="channels-"],
  [class*="channels-"]:hover {
    width: var(--channel-bar-width) !important;
  }


  /* Invisible Area Besides Channel Bar */
  [class*="channels-"] {

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 17px;
    }

    &:hover {

      &::after {
        width: 3rem;
      }
    }
  }
}


/* Channel Bar Category Titles */
[class*="nameDefault-"],
[class*="nameHovered-"],
[class*="nameCollapsed-"],
[class*="nameHoveredCollapsed-"] {
  font-size: .7rem;
  letter-spacing: .05em;
}
