/* Mentions */
[class*="mention"] {
  background-color: var(--mention-bg-color) !important;
  color: var(--mention-color) !important;

  &:hover {
    background-color: var(--mention-hover-bg-color) !important;
    color: var(--mention-hover-color) !important;
    text-decoration: underline;
  }
}

/* Current User Mention */
[class*="isMentioned-"] {
  padding-top: .3rem;
  padding-bottom: .3rem;
}
