/* Message */
[class*="containerCozyBounded-"] {
  padding-bottom: var(--message-padding);
  padding-top: var(--message-padding);
}

/* Message text color */
[class*="containerCozy-"] [class*="contentCozy-"] [class*="markup-"] {
  color: var(--message-color) !important;

  /* Max message content width */
  @media (min-width: 1100px) {
    max-width: var(--message-max-width);
  }
}

/* Individual message */
[class*="messageCozy-"] {
  margin-bottom: 0;
  padding-top: .2rem;
  padding-bottom: .2rem;

  &:hover {
    background-color: var(--message-hover-background);
  }
}
