/* Sidebar */

/* Sidebar Icons */
[class*="systemPad-"] [class*="guildInner"] {
  border-radius: var(--sidebar-icon-border-radius) !important;
}


/* Center Sidebar Items */
[class*="guildsWrapper"] [class*="guildInner-"],
[class*="guildsWrapper"] [class*="guildsAdd-"] {
  transform: translateX(8px) !important;
}

[class*="guildsWrapper"] [class*="iconSizeLarge"],
[class*="guildsWrapper"] [class*="guildInner-"] a,
[class*="guildsWrapper"] [class*="guild-"],
[class*="guildsWrapper"] [class*="avatar-"] {
  width: var(--sidebar-icon-width) !important;
  height: var(--sidebar-icon-width) !important;
  line-height: var(--sidebar-icon-width) !important;

}

[class*="guild-"] + [class*="guild-"] {
  margin-top: 12px !important;
}

[class*="guildsWrapper"] [class*="friendsOnline-"] {
  width: calc(var(--sidebar-icon-width) + 16px) !important;
}

[class*="guildsWrapper"] [class*="guildsAdd-"] {
  display: block;
  height: calc(var(--sidebar-icon-width) / 2);
  border: none;
}


[class*="guildsWrapper"] button[class*="guildsAdd-"] {
  margin-top: 20px !important;
}



/* Sidebar Separators */
[class*="guildsWrapper"] [class*="guildSeparator-"] {
  display: none;
}


/* Download Apps Button */
[class*="guildsWrapper"] [class*="downloadAppButton-"] {
  display: none;
}


[class*="guildsWrapper"] [class*="downloadAppButton-"] > svg {
  display: none;
}
